<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the shop!</title>
</head>
<body>
<h1>Welcome to the Shop!</h1>
<h2>Product list</h2>
<p>Please select a product:</p>
<table>
    <tr>
        <td>
            id
        </td>
        <td>
            Name
        </td>
        <td>
            Description
        </td>
        <td>
            Price
        </td>
    </tr>
    {{ range $key, $value := . }}
    <tr>
        <td>{{ $key }}</td>
        <td>{{ $value.Name }}</td>
        <td>{{ $value.Description }}</td>
        <td>£{{ $value.Price }}</td>
        <td><a href="http://localhost:3020/baskets/1/add?productId={{ $key }}&quantity=1">Add to Basket</a></td>
    </tr>
    {{ end }}
</table>

</body>
</html>